<h1>Pipes <small>Angular</small> </h1>
<hr>

<div class="row">
    <div class="col">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>Variable</th>
                    <th>Pipes</th>
                    <th>Salida</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{nombre}}</td>
                    <td>uppercase</td>
                    <td>{{nombre |uppercase}}</td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>lowercase</td>
                    <td>{{nombre |lowercase}}</td>
                </tr>
                <!-- pipe slice es de los pipes que requeren argumentos -->
                <!-- elimina los 3 primeros caractges///bueno no muestra xq solo es para efectos de visualizacion -->
                <tr>
                    <td>{{nombre}}</td>
                    <td>slice:3</td>
                    <td>{{nombre |slice:3}}</td>
                </tr>
                <!-- muestra los primeros 5 elementos -->
                <tr>
                    <td>{{nombre}}</td>
                    <td>slice:0:5</td>
                    <td>{{nombre |slice:0:5}}</td>
                </tr>
                <!-- con arreglos woooooooooo -->
                <tr>
                    <td>{{arreglo}}</td>
                    <td>slice:1:5</td>
                    <td>{{arreglo |slice:1:5}}</td>
                </tr>

                <!-- pipes con numeros  -->
                <!-- number hace un rdondeo visual -->
                <tr>
                    <td>{{PI}}</td>
                    <td>number</td>
                    <td>{{PI|number }}</td>
                </tr>
                <!-- redondeo digito y decmales cero... -->
                <tr>
                    <td>{{PI}}</td>
                    <td>number: '1.0-0'</td>
                    <td>{{PI|number: '1.0-0' }}</td>
                </tr>
                <!-- redondeo digito y 4 dedcimales... -->
                <tr>
                    <td>{{PI}}</td>
                    <td>number: '1.0-4'</td>
                    <td>{{PI|number: '1.0-4' }}</td>
                </tr>
                <!-- redondeo 3 digito y decmales cero... -->
                <tr>
                    <td>{{PI}}</td>
                    <td>number: '3.0-0'</td>
                    <td>{{PI|number: '3.0-0' }}</td>
                </tr>
                <!-- pedir toda la parte entera y redoneo dos cifras... -->
                <tr>
                    <td>{{PI}}</td>
                    <td>number: '.0-2'</td>
                    <td>{{PI|number: '.0-2' }}</td>
                </tr>
                <!-- pipe:percent -->
                <tr>
                    <td>{{porcentaje}}</td>
                    <td>percent</td>
                    <td>{{porcentaje|percent}}}</td>
                </tr>
                <!-- porcentjae con formato -->
                <tr>
                    <td>{{porcentaje}}</td>
                    <td>percent:'2.2-2'</td>
                    <td>{{porcentaje|percent:'2.2-2'}}</td>
                </tr>
                <!-- monedas -->
                <tr>
                    <td>{{salario}}</td>
                    <td>currency</td>
                    <td>{{salario|currency}}</td>
                </tr>
                <tr>
                    <td>{{salario}}</td>
                    <td>currency:'EUR'</td>
                    <td>{{salario|currency:'EUR'}}</td>
                </tr>
                <tr>
                    <td>{{salario}}</td>
                    <td>currency:'CAD':'symbol-narrow'</td>
                    <td>{{salario|currency:'CAD':'symbol-narrow'}}</td>
                </tr>
                <tr>
                    <td>{{salario}}</td>
                    <td>currency:'CAD':'symbol'</td>
                    <td>{{salario|currency:'CAD':'symbol'}}</td>
                </tr>
                <tr>
                    <td>{{salario}}</td>
                    <td>currency:'HNL':'symbol-narrow':'.0-0'</td>
                    <td>{{salario|currency:'HNL':'symbol-narrow':'.0-0'}}</td>
                </tr>
                <!-- async -->
                <tr>
                    <td>{{valorPromesa}}</td>
                    <td>async</td>
                    <td>{{valorPromesa|async}}</td>
                </tr>
                <!-- async -->
                <tr>
                    <td>{{fecha}}</td>
                    <td>date</td>
                    <td>{{fecha|date}}</td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td>date:'short'</td>
                    <td>{{fecha|date:'short'}}</td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td>date:'medium'</td>
                    <td>{{fecha|date:'medium'}}</td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td>date:'medium'</td>
                    <td>{{fecha|date:'MMMM-dd'}}</td>
                </tr>

            </tbody>
        </table>
        <hr>
        <h4>Slice</h4>
        <ul class="ulx">
            <li class="ilx" *ngFor="let i of arreglo |slice:5:20">{{i}}</li>
        </ul>
        <hr>
        <!-- pipes json -->
        <h3>JSON</h3>
        <div class="row md-5">
            <div class="col">
                <!--Cuando aparece [object,object] lo que signfica es que el objeto esta representado por un string -->
                <pre> 
                     {{heroe|json}}
                </pre>
                <!-- pre es de bootstrap para que se veya tabulado -->
            </div>
        </div>
        <hr>
    </div>


</div>