.ulx {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.lix {
    float: left;
    display: block;
}

.lix ax {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}